.section{
    padding: 2rem 9%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 130px;
    min-height: 81.5vh;
    background: url(home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.content button{
    display: inline-block;
    margin-bottom: 1rem;
    border-radius: 4px;
    background: #333;
    color: #fff;
    padding: 5px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover{
    background:cornflowerblue;
}

section .content .men_text h1{
    font-size: 60px;
    position: relative;
    top: -90px;
    left: 20px;
}

section .content .men_text span{
    margin-left: 15px;
    color:darkblue;
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}

